@import url('https://fonts.googleapis.com/css?family=Quicksand');

@import url('https://fonts.googleapis.com/css?family=Cinzel');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}

body background{
  background="img/qpf/qpf3_72.jpg";
}


section .contenedor{
  background-color: white;
  opacity: 40%;
  }


  header {
    width: 100%;
    height: 50px;
    background: #FFE4B5;
    color: #FF8C00;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .contenedor {
    width: 100%;
    margin: auto;
  }

  .text {
    width: 100%;
    margin: auto;
  }

  h1 {
    float: left;
    font-family: 'Cinzel', serif;
  }

  header .contenedor{
    display: table;
  }

  #imagenes article{
    margin-top: 55px;
  }

  #imagenes img {
    width: 100%;
    max-width: 100%;
  }

  #menu-bar {
    display: none;
  }

  header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FFE4B5;
    transition: all 0.5s;
    transform: translate(-100%);
  }

  .menu a{
    display: block;
    color: #FFA500;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .menu a:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  #menu-bar:checked ~ .menu {
    transform: translateX(0%);
  }

  .quepucfer{
    width: 100%;
    height:100px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: absolute;
  }


  @media (min-width: 1024px){
    .menu{
      position: static;
      width: auto;
      height: auto;
      transform: translateX(0%);
      float: right;
      display: flex;
    }

    .menu a{
      border: none;
    }

    header label{
      display: none;
    }
